*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
h1{
    text-align: center;
}
.galeria{
    display: grid;
    grid-template-columns: 5fr 5fr 4fr 5fr;
    grid-template-rows: 5fr 5fr 4fr;
    gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
    
}
.item1{
    background-image: url(images/5.jpg);
    border: 10px solid;
    
}
.item2{
    background-image: url(images/3.jpg);
    border: 10px solid;
}

.item3{
    background-image: url(images/6.jpg);
    border: 10px solid;
}

.item4{
    background-image: url(images/2.jpg);
    border: 10px solid;
}
.item5{
    grid-area: 2 / 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 50px;
    color: tomato;
    border: 10px solid;
}
.item6{
    background-image: url(images/Pesquisa\ Google.jpg);
    border: 10px solid;
}

.item7{
    background-image: url(images/4.jpg);
    border: 10px solid;
}

.item8{
    background-image: url(images/8.jpg);
    border: 10px solid;
}

.item9{
    background-image: url(images/12.jpg);
    border: 10px solid;
}

.item10{
    background-image: url(images/9.jpg);
    border: 10px solid;
}